[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
#url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
argparse = "*"
"ruamel.yaml" = "*"
dacite = "*"

[dev-packages]

[requires]
python_version = "3.8"
